$mobile-padding: 0 1rem 1rem;
$tablet-padding: 0 2.25rem;
$desktop-padding: 0 6rem 0;
$bio-hero-image: url("../../assets/images/hero-bio.jpg");
$shows-hero-image: url("../../assets/images/hero-shows.jpg");
