@use "./typography";

@use "./mixins" as *;

@use "./variables" as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
  font-family: "avenirnext";
  font-weight: 400;
}

.nav {
  background-color: #323232;
  padding-top: 1rem;

  @include tablet {
    display: flex;
    padding-top: 2rem;
  }
  &__logo {
    height: 1.25rem;
    width: 7.5rem;
    display: block;
    margin: auto;

    @include tablet {
      display: inline-block;
      margin-left: 2.25rem;
    }
    @include desktop {
      margin-left: 6rem;
    }
  }
  &__list {
    display: flex;
    list-style: none;
    margin-top: 1rem;

    @include tablet {
      margin-top: 0;
    }
  }
  &__section {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;

    @include tablet {
      padding-bottom: 1.5rem;
      margin-left: 2.25rem;
    }

    @include desktop {
      margin-left: 3rem;
    }
  }

  &__active-section {
    @extend .nav__section;
    border-bottom: 3px solid #ffffff;
  }
  &__section:hover {
    border-bottom: 3px solid #ffffff;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  &__active-link {
    @extend .nav__link;
    font-family: "avenirnext";
    font-weight: 600;
  }
}

.hero {
  background-image: $bio-hero-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 12.5rem;
  position: relative;
  z-index: -2;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include tablet {
    height: 25rem;
  }
  @include desktop {
    height: 35rem;
  }

  &__heading {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "avenirnext";
    font-weight: 700;
    margin-left: 1rem;
    z-index: 1;

    @include tablet {
      font-size: 3.75rem;
      margin-left: 2.25rem;
    }

    @include desktop {
      margin-left: 6rem;
    }
  }
  &__overlay {
    background-color: #323232;
    opacity: 0.5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.hero--shows {
  @extend .hero;
  height: 14rem;
  background-image: $shows-hero-image;
  justify-content: space-evenly;

  @include desktop {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-family: "avenirnext";
  font-weight: 700;
  color: black;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
h3 {
  font-size: 0.88rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.37rem;
  font-family: "avenirnext";
  font-weight: 600;

  @include tablet {
    padding: 0 2.25rem 0;
    font-size: 1.5rem;
  }

  @include desktop {
    padding: 0 6rem 0;
  }
}
h4 {
  font-size: 0.81rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.12rem;
  font-family: "avenirnext";
  font-weight: 600;

  @include tablet {
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding: 1rem;

  @include tablet {
    padding: $tablet-padding;
  }
  @include desktop {
    padding: $desktop-padding;
  }

  &__header {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      height: 3.5rem;
    }
  }

  &__heading {
    color: white;

    padding-bottom: 1rem;
    @include tablet {
      display: inline-block;
      margin-right: 2rem;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.2rem;
  }
  &__side-logo {
    display: none;

    @include tablet {
      display: inline-block;
      margin-left: auto;
    }
  }

  &__sections {
    @include tablet {
      display: flex;
      justify-content: space-between;
      margin-right: 2rem;
    }

    @include desktop {
      width: 60vw;
    }
  }
  &__info {
    margin-bottom: 1rem;
    font-size: 0.81rem;
    line-height: 1.12rem;
    @include tablet {
      font-size: 0.88rem;
      line-height: 1.25rem;
    }
  }
  &__email {
    text-decoration: none;
    color: white;
    font-size: 0.81rem;
    line-height: 1.12rem;
    @include tablet {
      font-size: 0.88rem;
      line-height: 1.25rem;
    }
  }

  &__logo {
    height: 1.25rem;
    width: 7.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;

    @include tablet {
      display: none;
    }
  }
  &__copyright {
    font-size: 0.62rem;
    line-height: 1.25rem;

    @include tablet {
      font-size: 0.75rem;
      line-height: 1.25rem;
      margin-top: 2rem;
    }
  }
}
