@use "./partials/typography";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
  font-family: "avenirnext";
  font-weight: 400;
}
.nav {
  background-color: #323232;
  padding-top: 1rem;

  &__logo {
    height: 1.25rem;
    width: 7.5rem;
    display: block;
    margin: auto;
  }
  &__list {
    display: flex;
    list-style: none;
    margin-top: 0.5rem;
  }
  &__section {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__active-section {
    @extend .nav__section;
    border-bottom: 3px solid #ffffff;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  &__active-link {
    @extend .nav__link;
    font-family: "avenirnext";
    font-weight: 600;
  }
}
