@use "./partials/typography" as *;

@use "./partials/mixins" as *;

@use "./partials/variables" as *;

.musicians {
  padding: $mobile-padding;

  @include tablet {
    padding: $tablet-padding;
  }

  @include desktop {
    padding: $desktop-padding;
  }

  &__image {
    width: 100%;
    height: auto;
    padding-top: 0.5rem;

    @include tablet {
      padding: 1rem 2.25rem 0;
      height: 20rem;
    }

    @include desktop {
      padding: 1.5rem 6rem 0;
      height: 30rem;
    }
  }
  &__quote {
    padding-top: 1rem;
    font-size: 0.88rem;
    line-height: 1.37rem;
    font-family: "avenirnext";
    font-weight: 600;

    @include tablet {
      padding: 2.25rem;
      font-size: 1.5rem;
    }

    @include desktop {
      padding: 2.25rem 6rem;
      width: 75vw;
    }
  }

  &__vocalist {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding-top: 1rem;
  }
}

.info-section {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2.25rem 0;
  }

  @include desktop {
    padding: 2.25rem 6rem 0;
  }

  &__one {
    font-size: 0.81rem;
    line-height: 1.12rem;

    @include tablet {
      font-size: 0.88rem;
      line-height: 1.37rem;
      width: 50%;
      padding-right: 1rem;
    }

    @include desktop {
      padding-left: 0;
    }
  }

  &__two {
    margin-top: 1rem;
    font-size: 0.81rem;
    line-height: 1.12rem;

    @include tablet {
      margin-top: 0;
      padding-left: 1rem;
      font-size: 0.88rem;
      line-height: 1.37rem;
      width: 50%;
    }
  }
}
.gallery {
  background-color: #fafafa;
  padding: $mobile-padding;

  @include tablet {
    padding: $tablet-padding;
  }

  @include desktop {
    padding: $desktop-padding;
  }
  &__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1rem;

    @include tablet {
      padding-top: 2.25rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    filter: grayscale(80%);

    @include tablet {
      width: 32%;
      height: auto;
      margin-bottom: 1rem;
    }
  }

  &__image:hover {
    filter: none;
  }
}

.comments-section {
  padding: $mobile-padding;

  @include tablet {
    padding: $tablet-padding;
  }

  @include desktop {
    padding: $desktop-padding;
  }
}

.form-container {
  display: flex;
  padding-top: 1rem;

  @include tablet {
    padding: 2.25rem 2.25rem 1rem;
  }

  @include desktop {
    padding: 2.25rem 19rem;
  }
  &__image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10%;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
}

.comments-form {
  color: #afafaf;
  margin-left: 1rem;
  flex-grow: 2;
  font-size: 0.63rem;
  line-height: 1.25rem;
  font-family: "avenirnext";
  font-weight: 700;

  @include tablet {
    font-size: 0.75rem;
    width: 100%;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
  }

  &__input {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 0.75rem;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
  }

  &__input:focus {
    border: 1px solid #323232;
  }

  &__button {
    height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: #323232;
    color: #ffffff;
    font-size: 0.63rem;
    font-family: "avenirnext";
    font-weight: 700;
    margin-bottom: 1rem;

    @include tablet {
      width: auto;
      height: auto;
      padding: 0.5rem 2rem;
      display: block;
      margin-left: auto;
      font-size: 0.75rem;
    }
  }
}

.comments {
  list-style: none;
  border-bottom: 2px solid #e1e1e1;

  @include tablet {
    margin: 0 2.25rem;
  }

  @include desktop {
    margin: 0 19rem;
  }

  &__list-item {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #e1e1e1;
    padding: 1rem 0;
  }

  &__avatar-container {
    background-color: #e1e1e1;
    display: inline-block;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
  }
}

.user-comments {
  display: inline-block;
  margin-left: 1rem;
  flex-grow: 2;
  width: 70%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-family: "avenirnext";
    font-weight: 600;
    font-size: 0.88rem;
  }
  &__date {
    text-align: end;
    color: #afafaf;
    font-size: 0.88rem;
    font-family: "avenirnext";
    font-weight: 600;
  }
  &__comment {
    font-size: 0.81rem;
    margin-top: 0.5rem;
    text-wrap: wrap;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
