@font-face {
  font-family: "avenirnext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "avenirnext";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "avenirnext";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: "avenirnext";
  font-weight: 400;
}

.nav {
  background-color: #323232;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.nav__logo {
  height: 1.25rem;
  width: 7.5rem;
  display: block;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    display: inline-block;
    margin: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    margin-left: 5rem;
  }
}
.nav__list {
  display: flex;
  list-style: none;
  margin-top: 0.5rem;
}
.nav__section, .nav__active-section {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__section, .nav__active-section {
    margin-top: 1.2rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__section, .nav__active-section {
    margin-left: 2rem;
  }
}
.nav__active-section {
  border-bottom: 3px solid #ffffff;
}
.nav__section:hover, .nav__active-section:hover {
  border-bottom: 3px solid #ffffff;
}
.nav__link, .nav__active-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .nav__link, .nav__active-link {
    margin-right: 1rem;
  }
}
.nav__active-link {
  font-family: "avenirnext";
  font-weight: 600;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 12.5rem;
  position: relative;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 20rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 30rem;
  }
}
.hero__heading {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "avenirnext";
  font-weight: 700;
  padding-top: 5rem;
  margin-left: 0.5rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.75rem;
    padding-top: 7rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__heading {
    margin-left: 3rem;
    padding-top: 12rem;
  }
}
.hero__overlay {
  background-color: #323232;
  opacity: 0.5;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

h2 {
  padding: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
  font-family: "avenirnext";
  font-weight: 700;
  color: black;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    padding-left: 4rem;
  }
}

.musicians {
  padding: 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .musicians {
    padding: 0 2.25rem;
  }
}
.musicians__image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .musicians__image {
    padding: 0 2.25rem 0;
    height: 20rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__image {
    padding: 0 6rem 0;
    height: 30rem;
  }
}
.musicians__quote {
  padding-top: 1rem;
  font-size: 0.88rem;
  line-height: 1.37rem;
  font-family: "avenirnext";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .musicians__quote {
    padding: 2.25rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__quote {
    padding: 2.25rem 6rem;
    width: 75vw;
  }
}
.musicians__vocalist {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding-top: 1rem;
}

h3 {
  font-size: 0.88rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.37rem;
  font-family: "avenirnext";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    padding: 0 2.25rem 0;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    padding: 0 6rem 0;
  }
}

@media screen and (min-width: 768px) {
  .info-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .info-section {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.info-section__one {
  font-size: 0.81rem;
  line-height: 1.12rem;
}
@media screen and (min-width: 768px) {
  .info-section__one {
    padding-left: 2.25rem;
    font-size: 0.88rem;
    line-height: 1.37rem;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .info-section__one {
    padding-left: 0;
  }
}
.info-section__two {
  margin-top: 1rem;
  font-size: 0.81rem;
  line-height: 1.12rem;
}
@media screen and (min-width: 768px) {
  .info-section__two {
    margin-top: 0;
    padding-left: 2.25rem;
    font-size: 0.88rem;
    line-height: 1.37rem;
    width: 50%;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.gallery__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .gallery__photos {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.gallery__image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  filter: grayscale(80%);
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 32%;
    height: auto;
    margin-bottom: 1rem;
  }
}
.gallery__image:hover {
  filter: none;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2rem 6rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: 3.5rem;
  }
}
.footer__heading {
  color: white;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    display: inline-block;
    margin-right: 2rem;
    padding-left: 0;
  }
}
.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.2rem;
}
.footer__side-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__side-logo {
    display: inline-block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__sections {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__sections {
    width: 60vw;
  }
}
.footer__info {
  margin-bottom: 1rem;
  font-size: 0.81rem;
  line-height: 1.12rem;
}
@media screen and (min-width: 768px) {
  .footer__info {
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
}
.footer__email {
  text-decoration: none;
  color: white;
  font-size: 0.81rem;
  line-height: 1.12rem;
}
@media screen and (min-width: 768px) {
  .footer__email {
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
}
.footer__logo {
  height: 1.25rem;
  width: 7.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  font-size: 0.62rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 2rem;
  }
}

h4 {
  font-size: 0.81rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.12rem;
  font-family: "avenirnext";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.88rem;
    line-height: 1.25rem;
  }
}/*# sourceMappingURL=bio.css.map */