@font-face {
  font-family: "avenirnext";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "avenirnext";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "avenirnext";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
.hero__album-name {
  color: white;
  font-size: 0.88rem;
  font-family: "avenirnext";
  font-weight: 600;
  padding: 2rem 1.2rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__album-name {
    font-size: 1.5rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__album-name {
    padding-left: 6rem;
  }
}
.hero__iframe {
  padding: 0 1rem 1rem;
  height: 8rem;
}
@media screen and (min-width: 768px) {
  .hero__iframe {
    height: auto;
    width: 30rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__iframe {
    height: auto;
    width: 50rem;
    margin-right: 6rem;
  }
}
.hero__heading {
  width: 70%;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    width: 75%;
    padding-left: 0;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__heading {
    margin-left: 0;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .shows {
    margin-bottom: 2rem;
    margin: 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    padding: 3rem 6rem 2.25rem;
    margin: 0;
  }
}
.shows__heading {
  padding: 1.5rem 1rem 0;
}
@media screen and (min-width: 768px) {
  .shows__heading {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading {
    display: inline-block;
    padding-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    padding: 2.25rem 2.25rem 0;
    flex-grow: 2;
    margin: 0 3rem;
  }
}

.shows-list, .shows-list--tablet {
  border-bottom: 1px solid #e1e1e1;
  padding: 0 1rem 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-list, .shows-list--tablet {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    margin: 0 1rem;
  }
}
.shows-list--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows-list--tablet {
    display: flex;
    border: none;
    justify-content: flex-start;
    width: 80%;
  }
}
.shows-list:hover, .shows-list--tablet:hover {
  background-color: #fafafa;
}
.shows-list--active {
  background-color: #e1e1e1;
}
.shows-list__title, .shows-list__title--tablet {
  color: #e1e1e1;
  font-family: "avenirnext";
  font-weight: 700;
  font-size: 0.63rem;
  padding-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .shows-list__title, .shows-list__title--tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .shows-list__title--tablet {
    display: inline-block;
    font-size: 0.85rem;
    width: 32%;
  }
}
@media screen and (min-width: 1280px) {
  .shows-list__title--tablet {
    width: 33%;
  }
}
.shows-list__description, .shows-list__description--bold {
  padding-top: 0.3rem;
  font-size: 0.81rem;
}
@media screen and (min-width: 768px) {
  .shows-list__description, .shows-list__description--bold {
    font-size: 0.88rem;
    width: 30%;
  }
}
.shows-list__description--bold {
  font-family: "avenirnext";
  font-weight: 600;
}
.shows-list__button {
  background-color: #323232;
  color: #ffffff;
  font-family: "avenirnext";
  font-weight: 700;
  height: 2.5rem;
  margin: 1rem 0 0rem;
  width: 100%;
  border-radius: 4px;
  font-size: 0.62rem;
}
@media screen and (min-width: 768px) {
  .shows-list__button {
    width: 10rem;
    margin: 0;
    font-size: 0.88rem;
  }
}/*# sourceMappingURL=shows.css.map */