@use "../styles/partials/typography" as *;

@use "../styles/partials/mixins" as *;

@use "../styles/partials/variables" as *;

.hero {
  &__album-name {
    color: white;
    font-size: 0.88rem;
    font-family: "avenirnext";
    font-weight: 600;
    margin: 2rem 1rem 1rem;

    @include tablet {
      font-size: 1.5rem;
      margin-left: 2.5rem;
    }
    @include desktop {
      margin-left: 3rem;
    }
  }
  &__iframe {
    padding: 0 1rem 1rem;
    height: 5rem;

    @include tablet {
      height: auto;
      width: 30rem;
      padding-left: 2.25rem;
    }
    @include desktop {
      height: auto;
      width: 50rem;
    }
  }
  &__heading {
    width: 70%;
    padding-left: 0.5rem;
    @include tablet {
      width: 75%;
      padding-left: 0;
    }

    @include desktop {
      display: inline-block;
    }
  }
}

.shows {
  margin-bottom: 1rem;

  @include tablet {
    margin-bottom: 2rem;
  }
  @include desktop {
    display: flex;
  }

  &__heading {
    padding: 2rem 1rem 1rem;

    @include tablet {
      padding: 2.25rem 2.25rem 0;
      margin: 0 1rem;
    }

    @include desktop {
      display: inline-block;
      margin-left: 3.5rem;
    }
  }

  &__container {
    @include desktop {
      padding: 2.25rem 2.25rem 0;
      flex-grow: 2;
      margin: 0 3rem;
    }
  }
}

.shows-list {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1rem;
  padding: $mobile-padding;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.25rem;
    margin: 0 1rem;
  }

  &--tablet {
    display: none;
    @extend .shows-list;

    @include tablet {
      display: flex;
      border: none;
      justify-content: flex-start;
      width: 80%;
    }
  }
  &:hover {
    background-color: #fafafa;
  }
  &--active {
    background-color: #e1e1e1;
  }

  &__title {
    color: #e1e1e1;
    font-family: "avenirnext";
    font-weight: 700;
    font-size: 0.63rem;
    padding-top: 0.6rem;

    @include tablet {
      display: none;
    }
  }

  &__title--tablet {
    @extend .shows-list__title;

    @include tablet {
      display: inline-block;
      font-size: 0.75rem;
      width: 32%;
    }
    @include desktop {
      width: 33%;
    }
  }

  &__description {
    padding-top: 0.5rem;
    font-size: 0.81rem;

    @include tablet {
      font-size: 0.88rem;
      width: 30%;
    }
  }

  &__description--bold {
    @extend .shows-list__description;
    font-family: "avenirnext";
    font-weight: 600;
  }

  &__button {
    background-color: #323232;
    color: #ffffff;
    font-family: "avenirnext";
    font-weight: 700;
    height: 2.5rem;
    margin: 1rem 0 0;
    width: 100%;
    border-radius: 4px;
    font-size: 0.62rem;

    @include tablet {
      width: 10rem;
      margin: 0;
      font-size: 0.88rem;
    }
  }
}
